@model IEnumerable<MvcEtec.Models.EquipeViewModel>

@{ViewBag.Title = "Equipes"; }

@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        
        @Html.Raw(TempData["Mensagem"])</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["MensagemErro"])</div>
}

<h2>Relação de Equipes</h2>
<p>
    @Html.ActionLink("Criar Nova Equipe", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.NomeEquipe)</th>
        <th>@Html.DisplayNameFor(model => model.Classe)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeEquipe)</td>
            <td>@Html.DisplayFor(modelItem => item.Classe)</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id } ) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }
                    ,new { onclick = "return confirm('Deseja realmente deletar esta Equipe ?');"})
            </td>
        </tr>        
    }
</table>